@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    /* @apply font-BR-Firma; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow: auto;
    /* background-color: #f7f7f7; */
  }

  .custom-scrollbar {
    scrollbar-width: thin !important;
    scrollbar-color: transparent transparent !important;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px !important;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.9s ease;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2)
  }
}
