@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    /* @apply font-BR-Firma; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    overflow: auto;
  }

  /* ::-webkit-scrollbar {
    display: none;
  } */
}
